langchain
python-dotenv
langchain-community
pypdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
validators==0.28.1
